//****************************
//  TOP-NAVBAR
//****************************

header {
  nav {
    a {
      &:hover {
        text-decoration: none;
      }
    }

    li {
      display: inline-block;
      padding: $padding-xsmall $padding-small;
    }
  }
}
