.article {
  h3 {
    margin-bottom: $margin-large;
  }
  text-align: left;
  margin: $margin-large $margin-xlarge;

  .text {
    margin-bottom: 0;
    padding: 0 0 $padding-small $padding-large;
  }

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
