//Header
header {
  background-color: #150124;
  #header-top {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;

    h1 {
      display: none;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        color: #faffee;
      }
      li {
        list-style-type: none;
      }
    }

    @include breakpoint($bp-large) {
      flex-direction: column;

      nav {
        display: block;
        padding-top: 1rem;
      }
    }
  }

  #header-main {
    background-image: url("../img/Banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 32rem;

    @include breakpoint($bp-large) {
      padding-bottom: $padding-xxlarge;
    }
  }
}

#services {
  color: #faffee;
  .text {
    padding: $padding-small $padding-large;
  }
  .p {
    padding-bottom: $padding-small;
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .container {
    flex-direction: column;
    .card-content1 {
      margin: auto;
      width: 400px;
      height: 400px;
      background-image: url("../img/console (2).webp");
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: $margin-large;
    }

    .card-content2 {
      @extend .card-content1;
      background-image: url("../img/gratuit (2).webp");
    }

    .card-content3 {
      @extend .card-content1;
      background-image: url("../img/Retro_game (2).webp");
    }
  }
}
