//Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;

  .header-btn {
    display: flex;
    gap: 1rem;
  }
  .header-txt {
    @extend .header-btn;
    align-items: center;
  }
}
