html {
  margin: 0;
  padding: 0px;
  font-size: 16px;
}

body {
  @extend html;
  font-family: $ft-main;
  text-align: center;
  background-color: #150124;
}

section {
  padding: $padding-small $padding-xsmall $padding-large $padding-xsmall;
}

@include headings() {
  font-family: $ft-main;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  color: #faffee;
}

h3 {
  font-size: 3rem;
  margin: 0;
  padding-top: $padding;
  padding-bottom: $padding-xsmall;
  color: #faffee;
}

h4 {
  font-size: 1.8rem;
}

p,
a {
  margin-top: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #faffee;
}

a {
  text-decoration: none;
  color: #faffee;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #faffee;
  }
}
li {
  list-style-type: none;
}
