@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$ft-main: "Lato", sans-serif;

//****************************
//  MARGIN & PADDING
//****************************

$margin: 1rem;
$margin-xxsmall: $margin * 0.125;
$margin-xsmall: $margin * 0.25;
$margin-small: $margin * 0.5;
$margin-large: $margin * 2;
$margin-xlarge: $margin * 4;
$margin-xxlarge: $margin * 8;

$padding: 2rem;
$padding-xxsmall: $padding * 0.125;
$padding-xsmall: $padding * 0.25;
$padding-small: $padding * 0.5;
$padding-large: $padding * 2;
$padding-xlarge: $padding * 4;
$padding-xxlarge: $padding * 8;

//****************************
//  BREAKPOINTS
//****************************

$bp-small: 320px;
$bp-medium: 600px;
$bp-large: 960px;
$bp-xlarge: 1080px;
